@use '../../styles/Utils';
@use '../../styles/Colors';
@use '../../styles/Fonts';

.dropdown-container {
    position: relative;
    width: max-content;
    @include Utils.center-align-items();
    
    .show-label {
        @include Fonts.font-semi-bold-small();
        @include Utils.make-dir-style-attribute(margin-right, margin-left, 10px);
        color: Colors.$light-grey;
    }

    .selectbox-container {
        position: relative;
        
        .dropdown-header {
            min-width: 70px;
            height: 32px;
            padding: 10px;
            border-radius: 4px;
            border: 1px solid Colors.$border;
            cursor: pointer;
            @include Utils.center-align(center, space-between);
            @include Fonts.font-normal();
            position: relative;

            .clear-icon {
                position: absolute;
                @include Utils.make-dir-style-attribute(right, left, 32px);
                top: 0;
                bottom: 0;
                @include Utils.center-align-items();

                svg {
                    height: 12px;
                    width: 12px;
                    color: Colors.$primary-black;
                }
            }
        }
        
        .dropdown-list {
            position: absolute;
            width: 100%;
            border: 1px solid Colors.$border;
            border-top: none;
            max-height: 150px;
            overflow-y: auto;
            background: Colors.$white;
            z-index: 1;
            @include Fonts.font-normal();
            
            .dropdown-item {
                padding: 7px 10px;
                cursor: pointer;

                &.selected {
                    background-color: Colors.$light-active;
                }
            }
            
            .dropdown-item:hover {
                background-color: #f0f0f0;
            }
        }
    }
        
}