@use '../../styles/Utils';
@use '../../styles/Colors';
@use '../../styles/Fonts';

.loader-container {
    height: calc(100vh - 60px);
    width: 100vw;
    @include Utils.center-align();
    flex-direction: column;
    position: fixed;
    inset: 0;
    top: 60px;

    .loading-text {
        @include Fonts.font-semi-bold-medium();
        margin: 15px 0;
    }
    .loader {
        width: 25px;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 5px solid Colors.$light-grey;
        animation:
            loaderAnimation-1 0.8s infinite linear alternate,
            loaderAnimation-2 1.6s infinite linear;
    }

    @keyframes loaderAnimation-1 {
        0% {
            clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%)
        }

        12.5% {
            clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%)
        }

        25% {
            clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%)
        }

        50% {
            clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
        }

        62.5% {
            clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
        }

        75% {
            clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%)
        }

        100% {
            clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%)
        }
    }

    @keyframes loaderAnimation-2 {
        0% {
            transform: scaleY(1) rotate(0deg)
        }

        49.99% {
            transform: scaleY(1) rotate(135deg)
        }

        50% {
            transform: scaleY(-1) rotate(0deg)
        }

        100% {
            transform: scaleY(-1) rotate(-135deg)
        }
    }
}