$primary-black: #2D3540;
$active: #084782;
$light-active: #EBF5FF;
$border: #CFDCE5;
$button-background: #E6ECF0;
$red: #cf1322;
$yellow: #f0a203;
$grey: #B2B2B2;
$green: #0d7c2d;
$blue: #1d81e3;
$light-grey: #69788C;
$white: #fff;
$background-color: #F5F8FA;
$box-shadow: #0426520F;