@use '../../styles/Utils';
@use '../../styles/Colors';
@use '../../styles/Fonts';

.device-report-ctr {
    .device-report-header {
        padding: 20px 20px 0;
        background: Colors.$white;

        .device-id-container {
            @include Utils.center-align(center, space-between);
            margin-bottom: 15px;

            .device-id {
                @include Fonts.font-huge();
                @include Utils.make-dir-style-value(text-align, left, right);
                margin: 0;
            }

            .header-buttons {
                @include Utils.center-align-items();
                gap: 10px;
            }
        }

        .location-container {

            .theatre-name,
            .city {
                margin: 0;
                margin-bottom: 8px;
            }

            .theatre-name {
                @include Fonts.font-normal();
            }

            .city {
                @include Fonts.font-small();
                color: Colors.$light-grey;
            }
        }

        .device-storage-and-status {
            padding: 10px 0;
            @include Utils.center-align-items();
            gap: 10px;
            border-bottom: 1px solid Colors.$background-color;
        }
    }

    .device-report-tabs {
    
        .tab-buttons {
            padding: 0 20px;
            background: white;
        }

        .tab-content {
            margin: 20px;
            padding: 20px;
            background: Colors.$white;
            border-radius: 8px;
            box-shadow: 0px 2px 4px 0px Colors.$box-shadow;
        }
    }

}

.error-container {
    color: Colors.$primary-black;
    @include Utils.center-align();
    flex-direction: column;
    height: 100%;

    p {
        margin: 5px 0;
    }

    .error {
        @include Fonts.font-bold-mammoth();
    }
}