@use '../../styles/Utils';
@use '../../styles/Colors';
@use '../../styles/Fonts';

.device-info-container {
    display: grid;
    gap: 25px 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    color: Colors.$primary-black;

    .device-info {
        .info-title {
            @include Fonts.font-semi-bold-small();
            margin: 0 0 5px;
            @include Utils.make-dir-style-value(text-align, left, right);
        }

        .info-value {
            margin: 0;
            @include Fonts.font-normal();
            @include Utils.make-dir-style-value(text-align, left, right);
        }
    }
}